[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pyqt5 = "*"
svgpathtools = "*"
scikit-image = "*"
opencv-python = "*"
manim = "*"
"svg.path" = "*"

[dev-packages]

[requires]
python_version = "3.8"
